<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aliao.newfeatures" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.WithoutActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.CoordinatorLayoutActivity"
            android:label="@string/coor_name"/>
        <activity
            android:name=".activity.TabLayoutActivity"
            android:label="@string/tablayout_name"/>
        <activity
            android:name=".activity.douban.DoubanMainActivity"
            android:label="@string/douban_name"/>
        <activity
            android:name=".activity.netease.NetEaseMainActivity"
            android:label="@string/netease_name"/>
        <activity
            android:name=".activity.propertyanimation.AnimationsActivity"
            android:label="@string/netease_name"/>
        <activity
            android:name=".activity.propertyanimation.PropertyAnimationActivity"
            android:label="@string/netease_name"/>
        <activity
            android:name=".activity.propertyanimation.LayoutTransitionActivity"
            android:label="@string/netease_name"/>
        <activity
            android:name=".activity.netease.MainMoreMenuActivity"
            android:label="@string/netease_name"/>
    </application>

</manifest>
